@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #3c3c3c;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.css");
  font-weight: 45 920;
  font-style: normal;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #26282f;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Pretendard-Variable", sans-serif;
}
